@import url(common.css);


/*
===================== main ================================================
*/

/* visual */
.visual {
    width: 100%;
    margin-top: 80px;
    position:relative;
}

.visual>img {
    width: 100%;
}
.visual>figcaption{
    overflow:hidden;
    position:absolute;
    left:0%; top:50%;
    width:100%;
    transform:translate(0%, -50%);
}
.visual > figcaption > p {
    color:#e5e5e5;
    font-size:6.5rem;
    font-weight:100;
    text-align: center;
    transform:translateY(100%);
    animation: ani_visual .7s linear forwards;
}
@keyframes ani_visual{
    100%{transform:translateY(0%)};
}

/* new */
.new {
    width: 83%;
    margin: 6% auto 0;
    background: #dddddd;
    border:1px solid #e5e5e5;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    filter:brightness(50%) blur(2px);
    
}
.new.active{
    animation: ani_new1 .5s linear forwards;
}

.new>figure {
    width: 25%;
}

.new>figure>img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    
}

.new>.info_new {
    width: 50%;
    text-align: center;
    opacity:0;
}
.new>.info_new.active {
    animation: ani_new2 .5s .5s linear forwards;
}

.new>.info_new>h2 {
    font-size: 4.5rem;
    font-weight: 100;    
}

.new>.info_new>p {
    white-space: pre-line;
    color: #525252;
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.new>.link_new {
    position: relative;
    width: 49%;
}

.new>.link_new>img {
    width: 100%;
}

.new>.link_new:nth-of-type(2)>img {
    border-radius: 0 10px 10px 10px;
}

.new>.link_new:nth-of-type(3)>img {
    border-radius: 10px 0 10px 10px;
}

.new>.link_new>a {
    display: none;
}

.new>.link_new>a>p {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 82, 82, 0.8);
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new>.link_new:nth-of-type(2)>a>p {
    border-radius: 0px 10px 10px 10px;
}

.new>.link_new:nth-of-type(3)>a>p {
    border-radius: 10px 0px 10px 10px;
}

.new>.link_new:hover>img{filter:blur(2px)}
.new>.link_new:hover>a {
    display: block;
}

@keyframes ani_new1 {
    100% {
        background: radial-gradient(at 50% 15%, rgba(224, 224, 224, 0), #e0e0e0 40%);
        filter:brightness(100%)
    }
}

@keyframes ani_new2 {
    100% {
        opacity:1
    }
}

/*hot*/
.hot {
    width: 100%;
    position: relative;
}

.hot > p.active {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to right, #e0e0e0, rgba(224, 224, 224, 0));
    display: block;
    transform: translateX(100%);
    z-index: -1;
    animation: ani_hot1 .8s linear forwards;
}

.hot_wrap {
    width: 83%;
    margin: 13% auto 0;
}

.hot_wrap>.info{
    position:absolute;
    top:-20%
}
.hot_wrap>.info.active{
    
    animation: ani_info .5s .8s linear forwards;
}

.hot_slide {
    padding:2% 0;
}

.hot_slide ul:first-of-type(1) {
    /* display: flex; */
    justify-content: space-between;
    opacity:0;
}
.hot_slide>ul:first-of-type(1).active{
    animation: slide_items 1.5s 1s linear forwards;
}


.hot_slide ul:first-of-type(1) li {
    width: 29%;
    padding: 10px 30px 30px 0;
    flex-shrink: 0;
}

.hot_item {
    position: relative;
}

.hot_item img {
    width: 100%;
    border-radius: 10px;
}


.hot_hov {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(82, 82, 82, 0.8);
    text-align: center;
    display: none;
}

.hot_hov>a:nth-of-type(1) {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin: 10px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0;
    background: url(../img/icon.png) no-repeat;
    background-position: 0 -30px;
}

.hot_hov>a>p {
    width: 100%;
    color: #fff;
    white-space: pre-line;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.hot_hov>a>p>b {
    color: #fff;
    font-size: 1.4rem;
    font-weight: normal;
    white-space: pre-line;
}

.hot_hov>a>p>span {
    text-decoration-line: line-through;
    color: #c4c4c4;
}

.btn_qv {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12%;
    background-color: #525252;
    border-radius: 10px;
    z-index: 2;
}

.btn_qv>p {
    text-align: center;
    color: #fff;
}








.hot_item:hover>img{filter:blur(2px)}
.hot_item:hover>.hot_hov {
    display: block;
}

.hot_hov>a:nth-child(2)>p:hover{transform:translate(-50%, -50%) scale(1.1)}
.hot_hov>a:nth-child(2)>p:active{transform:translate(-50%, -50%) scale(0.5);transition:.5s}


.btn_qv:hover>p {transform:scale(1.1)}
.btn_qv:active>p {transform:scale(0.5);transition:.3s}

@keyframes ani_hot1 {
    100% {
        transform: translateX(0);
    }
}

/* media */
.media {
    width: 50%;
    height: 800px;
    margin: 9% 0 0 auto;
    text-align: right;
    position: relative;
}

.media>p.active {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000, rgba(0, 0, 0, 0.5));
    transform: translateX(100%);

    z-index: -1;
    animation: ani_media1 .5s linear forwards;
}

@keyframes ani_media1 {
    100% {
        transform: translateX(0);
    }
}

.media>.info {
    padding-top: 16px;
    padding-right: 17%;
    transform: translate(-6px, -6px);
    opacity:0;
}

@keyframes ani_media2 {
    0% {
        opacity:1;
        text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.3);
    }
    100% {
        opacity:1;
        transform:translate(0,0);
        text-shadow:none;
    }
}

.media>.info>h2 {
    color: #fff;
}

.media>.info>b {
    color: #fff;
}

.media>p {
    color: #fff;
    white-space: pre-line;
    font-size: 2.2rem;
    padding: 17% 17% 10% 0;
}

.indi {
    padding-right: 17%;
    animation: ani_media3 .5s .5s linear forwards;
    opacity: 0;
}

.indi>a {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/icon.png);
    font-size: 0;
    margin: 20px;
    background-position: -180px 0;
}
.indi>a.active{ background-position: -150px 0;}



.vid {
    width: 100%;
}

.vid>ul>li>iframe {
    width: 100%;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform:translate(100%, -50%);
    animation: ani_media4 .3s linear forwards;
    
}

.vid>ul>li>iframe.active{
    animation: ani_media5 .5s 0.5s linear forwards
}
@keyframes ani_media4 {
    0%{transform: translate(-83%,-50%)};
    100%{transform:translate(100%, -50%)};
}
@keyframes ani_media5{
    100%{transform: translate(-83%,-50%)};
}

.vid>ul>li>p {
    position:absolute;
    right:0;
    bottom:0;
    transform:translateY(-100%);
    padding-right: 17%;
    color: #c4c4c4;
    font-size: 1.8rem;
    opacity: 0;
}
.vid>ul>li>p.active {
    opacity:1;
}

@keyframes ani_media3 {
    100% {
        opacity: 1;
    }
}


/*sns*/
.sns {
    width: 83%;
    margin: 10% auto 1%;
}
.sns>.info.active{
    
    animation: ani_info .5s .5s linear forwards;
}

.sns>.icon {
    width: 60%;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: space-between;
}

.sns>.icon>div {
    text-align: center;
}

.sns>.icon>div>a {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: url(../img/icon.png);
    opacity:0
}
.sns>.icon>div>a.active {
    animation: ani_sns2 .5s 1s linear forwards;
}

.sns>.icon>div:nth-child(1)>a {
    background-position: 0 -90px;
}

.sns>.icon>div:nth-child(2)>a {
    background-position: -75px -90px;
}

.sns>.icon>div:nth-child(3)>a {
    background-position: -150px -90px;
}

.sns>.icon>div:nth-child(4)>a {
    background-position: -225px -90px;
}

.sns>.icon>div>p {
    font-size: 1.2rem;
    font-weight: 200;
    color: #000;
    opacity:0
}
.sns>.icon>div>p.active{
    animation: ani_sns1 .5s .8s linear forwards;
}

.icon>div>a:hover{transform:scale(1.1)}

@keyframes ani_sns1 {
    100%{opacity:1}
}

@keyframes ani_sns2 {
    0%{
        opacity:1;
        transform:scale(0)
    }
    100%{
        opacity:1;
        transform:scale(1)
    }
}
